# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Study-the-&quot;carrier&quot;-spreadsheet" data-toc-modified-id="Study-the-&quot;carrier&quot;-spreadsheet-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Study the "carrier" spreadsheet</a></div><div class="lev2 toc-item"><a href="#sort-out-the-&quot;nan&quot;-values" data-toc-modified-id="sort-out-the-&quot;nan&quot;-values-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>sort out the "nan" values</a></div><div class="lev2 toc-item"><a href="#Filter-away-nans-from-the-DataFrame" data-toc-modified-id="Filter-away-nans-from-the-DataFrame-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Filter away nans from the DataFrame</a></div><div class="lev2 toc-item"><a href="#Realized-some-Code-is-treated-as-int...convert-to-string" data-toc-modified-id="Realized-some-Code-is-treated-as-int...convert-to-string-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Realized some <em>Code</em> is treated as int...convert to string</a></div><div class="lev2 toc-item"><a href="#What's-the-deal-with-the-(1)-appended-to-some-of-the-entries?" data-toc-modified-id="What's-the-deal-with-the-(1)-appended-to-some-of-the-entries?-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>What's the deal with the (1) appended to some of the entries?</a></div><div class="lev1 toc-item"><a href="#Study-airports-spreadsheet" data-toc-modified-id="Study-airports-spreadsheet-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Study <em>airports</em> spreadsheet</a></div><div class="lev2 toc-item"><a href="#Study-nans" data-toc-modified-id="Study-nans-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Study nans</a></div><div class="lev2 toc-item"><a href="#Filter-out-non-USA-airports" data-toc-modified-id="Filter-out-non-USA-airports-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Filter out non-USA airports</a></div><div class="lev1 toc-item"><a href="#Todo-list" data-toc-modified-id="Todo-list-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Todo list</a></div><div class="lev1 toc-item"><a href="#Study-&quot;airports&quot;-state-distribution" data-toc-modified-id="Study-&quot;airports&quot;-state-distribution-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Study "airports" state distribution</a></div><div class="lev2 toc-item"><a href="#Plot-bubble-markers-for-all-airports" data-toc-modified-id="Plot-bubble-markers-for-all-airports-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Plot bubble markers for all airports</a></div><div class="lev2 toc-item"><a href="#Take-a-closer-look-at-Michigan,-my-home-state" data-toc-modified-id="Take-a-closer-look-at-Michigan,-my-home-state-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Take a closer look at Michigan, my home state</a></div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pprint import pprint
import os
os.getcwd()

from geopy.geocoders import Nominatim
geolocator = Nominatim()

# limit output to avoid cluttering screen
pd.options.display.max_rows = 20

# Study the "carrier" spreadsheet

In [2]:
df_carr = pd.read_excel('../data/carriers.xls')
print "df_carr.shape = ",df_carr.shape
print df_carr.columns.tolist()
df_carr.head(n=15)

df_carr.shape =  (2982, 2)
[u'Code', u'Description']

   Code                    Description
0   NaN                            NaN
1   02Q                  Titan Airways
2   NaN                            NaN
3   04Q             Tradewind Aviation
4   NaN                            NaN
5   05Q            Comlux Aviation, AG
6   NaN                            NaN
7   06Q  Master Top Linhas Aereas Ltd.
8   NaN                            NaN
9   07Q            Flair Airlines Ltd.
10  NaN                            NaN
11  09Q                 Swift Air, LLC
12  NaN                            NaN
13  0BQ                            DCA
14  NaN                            NaN

## sort out the "nan" values

In [3]:
df_carr.isnull()

       Code Description
0      True        True
1     False       False
2      True        True
3     False       False
4      True        True
5     False       False
6      True        True
7     False       False
8      True        True
9     False       False
...     ...         ...
2972   True        True
2973  False       False
2974   True        True
2975  False       False
2976   True        True
2977  False       False
2978   True        True
2979  False       False
2980   True        True
2981  False       False

[2982 rows x 2 columns]

... appears like every-other rows are nans

In [4]:
df_carr.isnull().sum()

Code           1492
Description    1491
dtype: int64

... one airline has extra nan values in the "Code" column....
anything special about that entry?

In [5]:
# which record/row has Code NaN 
_idx = np.where(df_carr.isnull().sum(axis=1) == 1)[0][0]

df_carr.ix[_idx]

Code                               NaN
Description    North American Airlines
Name: 1747, dtype: object

...so nothing exactly special looking...

## Filter away nans from the DataFrame

- remove row with *any* nans

In [6]:
df_carr = df_carr[~df_carr.isnull().any(axis=1)]
print "df_carr.shape = ",df_carr.shape

df_carr.shape =  (1490, 2)

In [7]:
# all record appears to be unique
print df_carr['Code'].unique().shape
print df_carr['Description'].unique().shape

(1490L,)
(1490L,)

In [8]:
df_carr.head(n=10)

   Code                                   Description
1   02Q                                 Titan Airways
3   04Q                            Tradewind Aviation
5   05Q                           Comlux Aviation, AG
7   06Q                 Master Top Linhas Aereas Ltd.
9   07Q                           Flair Airlines Ltd.
11  09Q                                Swift Air, LLC
13  0BQ                                           DCA
15  0CQ                          ACM AIR CHARTER GmbH
17  0FQ          Maine Aviation Aircraft Charter, LLC
19  0GQ  Inter Island Airways, d/b/a Inter Island Air

In [9]:
# reset index
df_carr.reset_index(drop=True,inplace=True)

## Realized some *Code* is treated as int...convert to string
- d

In [10]:
# convert columns to unicode (realized some elements are treated as 'int', which messes up some string tests below
df_carr['Code'] = df_carr['Code'].apply(unicode)
df_carr['Description'] = df_carr['Description'].apply(unicode)
#df_carr['Code'] = df_carr['Code'].apply(str)

In [11]:
df_carr.dtypes

Code           object
Description    object
dtype: object

## What's the deal with the (1) appended to some of the entries?

In [31]:
mask1 = df_carr['Code'].str.endswith('(1)').astype(bool)
mask2 = df_carr['Description'].str.endswith('(1)').astype(bool)

df_carr[mask1].head()

       Code           Description
66   7G (1)      Bellair Inc. (1)
130     ACT  Air Central Inc. (1)
231     ASU         Air South (1)
292     BHQ    Turks Air Ltd. (1)
407     CSN   Casino Airlines (1)

In [32]:
df_carr[mask2].head()

       Code           Description
66   7G (1)      Bellair Inc. (1)
130     ACT  Air Central Inc. (1)
231     ASU         Air South (1)
292     BHQ    Turks Air Ltd. (1)
407     CSN   Casino Airlines (1)

In [13]:
# more informative to print row just before...

def interleave_index(mask):
    ind = np.where(mask)[0]
    ind = np.hstack((ind,ind - 1))
    ind.sort()
    return ind

df_carr.iloc[interleave_index(mask1)]

        Code                  Description
33        4E           Tanana Air Service
34    4E (1)     British Airtours Limited
36        4M                LAN Argentina
37    4M (1)                 Lan Dominica
40        4S      Sol Air (Aero Hunduras)
41    4S (1)        Conner Air Lines Inc.
49        5G    Skyservice Airlines, Inc.
50    5G (1)                    Queen Air
65        7G             MK Airlines Ltd.
66    7G (1)             Bellair Inc. (1)
...      ...                          ...
1348      VX               Virgin America
1349  VX (1)                Aces Airlines
1355      WA  Worldwide Airlines Services
1356  WA (1)       Western Air Lines Inc.
1395      WS                      Westjet
1396  WS (1)       Suncoast Airlines Inc.
1466      Z3                  PM Air, LLC
1467  Z3 (1)                      Promech
1486      ZX                 Air Georgian
1487  ZX (1)                   Airbc Ltd.

[114 rows x 2 columns]

In [14]:
df_carr.iloc[interleave_index(mask2)]

        Code                  Description
65        7G             MK Airlines Ltd.
66    7G (1)             Bellair Inc. (1)
129      ACS      Alamo Commuter Airlines
130      ACT         Air Central Inc. (1)
230      AST                Astro Airways
231      ASU                Air South (1)
291      BHO         Bighorn Airways Inc.
292      BHQ           Turks Air Ltd. (1)
406      CSM        Chisum Flying Service
407      CSN          Casino Airlines (1)
...      ...                          ...
1062      RC       Republic Airlines Inc.
1063     RCA  Mid-South Aviation Inc. (1)
1092     ROE       Roederer Aviation Inc.
1093     ROQ             Aero Uruguay (1)
1304      UP   Bahamasair Holding Limited
1305      UR     Empire Airlines Inc. (1)
1401     WTA            Westates Airlines
1402      WV           Air South Inc. (1)
1437     XBZ  Air Natl Aircraft Sal & Ser
1438      XC            Air Caribbean (1)

[38 rows x 2 columns]

# Study *airports* spreadsheet

In [15]:
df_airports = pd.read_excel('../data/airports new.xlt')

In [16]:
print "df_airports.shape = ",df_airports.shape
print df_airports.dtypes

df_airports.shape =  (3376, 7)
iata        object
airport     object
city        object
state       object
country     object
lat        float64
long       float64
dtype: object

In [17]:
df_airports.head(n=10)

,iata,airport,city,state,country,lat,long
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944
5,01M,Tishomingo County,Belmont,MS,USA,34.491667,-88.201111
6,02A,Gragg-Wade,Clanton,AL,USA,32.850487,-86.611453
7,02C,Capitol,Brookfield,WI,USA,43.087510,-88.177869
8,02G,Columbiana County,East Liverpool,OH,USA,40.673313,-80.641406
9,03D,Memphis Memorial,Memphis,MO,USA,40.447259,-92.226961

## Study nans

In [18]:
# any nans?
df_airports.isnull().sum()

iata        0
airport     0
city       12
state      12
country     0
lat         0
long        0
dtype: int64

In [19]:
# do the nans occur at the same place?
#| yes
np.alltrue(
    np.where(df_airports['city'].isnull())[0] == \
    np.where(df_airports['state'].isnull())[0]
)

True

In [20]:
# anything special about the records with unknown city/state?
df_airports[df_airports.isnull().any(axis=1)]

,iata,airport,city,state,country,lat,long
1136,CLD,MC Clellan-Palomar Airport,NaN,NaN,USA,33.127231,-117.278727
1715,HHH,Hilton Head,NaN,NaN,USA,32.224384,-80.697629
2251,MIB,Minot AFB,NaN,NaN,USA,48.415769,-101.358039
2312,MQT,Marquette County Airport,NaN,NaN,USA,46.353639,-87.395361
2752,RCA,Ellsworth AFB,NaN,NaN,USA,44.145094,-103.103567
2759,RDR,Grand Forks AFB,NaN,NaN,USA,47.961167,-97.401167
2794,ROP,Prachinburi,NaN,NaN,Thailand,14.078333,101.378334
2795,ROR,Babelthoup/Koror,NaN,NaN,Palau,7.367222,134.544167
2900,SCE,University Park,NaN,NaN,USA,40.851206,-77.846302
2964,SKA,Fairchild AFB,NaN,NaN,USA,47.615058,-117.655803
3001,SPN,Tinian International Airport,NaN,NaN,N Mariana Islands,14.996111,145.621384
3355,YAP,Yap International,NaN,NaN,Federated States of Micronesia,9.516700,138.100000

In [21]:
# most of the data are from USA...the 4 cases corresponds to the NANs above
df_airports['country'].value_counts(0)

USA                               3372
Palau                                1
N Mariana Islands                    1
Thailand                             1
Federated States of Micronesia       1
Name: country, dtype: int64

## Filter out non-USA airports

In [22]:
df_airports = df_airports.query('country == "USA"')

In [23]:
df_airports.country.unique()

array([u'USA'], dtype=object)

# Study "airports" state distribution

In [33]:
df_state = df_airports['state'].value_counts()
df_state = df_state.reset_index()
df_state.columns = ['state','counts']
df_state.T

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
state,AK,TX,CA,OK,FL,OH,NY,GA,MI,MN,...,NH,VT,PR,RI,DE,VI,CQ,AS,GU,DC
counts,263,209,205,102,100,100,97,97,94,89,...,14,13,11,6,5,5,4,3,1,1

In [25]:
# define data/trace object
trace = dict(
        type='choropleth',
        #colorscale = scl,
        #autocolorscale = False,
        autocolorscale = True,
        locations = df_state['state'],
        z = df_state['counts'],
        locationmode = 'USA-states',
        #text = df['text'],
        marker = dict(line = dict (color = 'rgb(255,255,255)',width = 2) ),
        colorbar = dict(title = "counts")
)
data = [trace]

# define layout object
geo = dict(scope='usa',
           projection=dict( type='albers usa' ),
           showlakes = True,
           lakecolor = 'rgb(255, 255, 255)')
layout = dict(geo=geo,title = 'State Frequency chart (hover over for number)')

fig = dict( data=data, layout=layout )
# py.iplot( fig, filename='d3-cloropleth-map' )

import plotly.plotly as py

In [26]:
py.iplot( fig, filename='spotify-tmp1', sharing = 'secret')

From the above plot, it looks like the number of aiports in a state is proportional to the land-area of the state...

## Plot bubble markers for all airports
This will give an idea of the airport distribution around the country

In [27]:
data = [ dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df_airports['long'],
        lat = df_airports['lat'],
        text = df_airports['airport'] + ' ' + df_airports['city'],
        mode = 'markers',
        marker = dict( 
            size = 5, 
            opacity = 0.5,
            reversescale = True,
            symbol = 'circle',
            line = dict(
                width=1,
                color='rgba(102, 102, 102)'
            ),
            autocolorscale = True,
        ))]

layout = dict(
        title = 'Airports in the United States<br>(Scroll mouse to zoom)',
        colorbar = True,   
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            showlakes = True,     
        ),
    )

fig = dict( data=data, layout=layout )
py.iplot( fig, filename='spotify-tmp2', sharing = 'secret',validate=False)

**Some personal remarks**
- airport-density is high in the Northeastern regions, which was expected, as these are economically developed and densely populated region.
- airport-density in the Western area is low outside of California, which was again expected.
- I did not expect there are

## Take a closer look at Michigan, my home state
- https://plot.ly/python/bubble-maps/

In [28]:
df_airports.query('state=="MI"').head(5)

,iata,airport,city,state,country,lat,long
23,07G,Fitch H Beach,Charlotte,MI,USA,42.574509,-84.811431
45,0D1,South Haven Municipal,South Haven,MI,USA,42.350833,-86.256139
106,13C,Lakeview,Lakeview,MI,USA,43.452137,-85.264803
143,1D2,Canton -Plymouth - Mettetal,Plymouth,MI,USA,42.350037,-83.458268
302,35D,Padgham,Allegan,MI,USA,42.530983,-85.825136

In [29]:
df_mi = df_airports.query('state=="MI"')

# update dict appropriately
data[0]['lat'] = df_mi['lat']
data[0]['lon'] = df_mi['long']
data[0]['text'] = df_mi['airport'] + ' ' + df_mi['city']

layout['title'] = 'Airports in Michigan<br>(Hover for airport names. Mouse scroll to zoom, right-click to pan)'

fig = dict( data=data, layout=layout )
py.iplot( fig, filename='spotify-tmp3', sharing = 'secret',validate=False)