# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Load-data" data-toc-modified-id="Load-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Load data</a></div><div class="lev1 toc-item"><a href="#Create-Timeseries-of-Daily-Flight-Counts" data-toc-modified-id="Create-Timeseries-of-Daily-Flight-Counts-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Create Timeseries of Daily Flight Counts</a></div><div class="lev2 toc-item"><a href="#Create-interactive-plot-with-plotly/cufflinks" data-toc-modified-id="Create-interactive-plot-with-plotly/cufflinks-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Create interactive plot with plotly/cufflinks</a></div><div class="lev2 toc-item"><a href="#Study-seasonal-trend-with-rolling-averaged-timeseries" data-toc-modified-id="Study-seasonal-trend-with-rolling-averaged-timeseries-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Study seasonal trend with rolling-averaged timeseries</a></div><div class="lev1 toc-item"><a href="#Flight-counts-study-by-&quot;day_of_week&quot;-and-&quot;month&quot;" data-toc-modified-id="Flight-counts-study-by-&quot;day_of_week&quot;-and-&quot;month&quot;-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Flight counts study by "day_of_week" and "month"</a></div><div class="lev2 toc-item"><a href="#Over-entire-year" data-toc-modified-id="Over-entire-year-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Over entire year</a></div><div class="lev2 toc-item"><a href="#Apply-pivoting-to-groupby-month-and-day_of_week" data-toc-modified-id="Apply-pivoting-to-groupby-month-and-day_of_week-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Apply pivoting to groupby month and day_of_week</a></div><div class="lev1 toc-item"><a href="#Repeat-analysis-for-NY,-LA,-and-Vegas." data-toc-modified-id="Repeat-analysis-for-NY,-LA,-and-Vegas.-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Repeat analysis for NY, LA, and Vegas.</a></div><div class="lev2 toc-item"><a href="#Data-tidying" data-toc-modified-id="Data-tidying-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Data tidying</a></div><div class="lev2 toc-item"><a href="#Plot-results" data-toc-modified-id="Plot-results-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Plot results</a></div><div class="lev2 toc-item"><a href="#Create-sublots-of-monthly-flight-count-trends-for-each-city" data-toc-modified-id="Create-sublots-of-monthly-flight-count-trends-for-each-city-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Create sublots of monthly flight-count trends for each city</a></div><div class="lev1 toc-item"><a href="#Which-state-had-the-most-air-traffics?" data-toc-modified-id="Which-state-had-the-most-air-traffics?-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Which state had the most air traffics?</a></div><div class="lev2 toc-item"><a href="#Data-tidying" data-toc-modified-id="Data-tidying-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Data tidying</a></div><div class="lev2 toc-item"><a href="#Choropleth-figure-(display-result-on-US-map)" data-toc-modified-id="Choropleth-figure-(display-result-on-US-map)-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Choropleth figure (display result on US map)</a></div><div class="lev2 toc-item"><a href="#Choropleth-after-normalizing-over-state-population" data-toc-modified-id="Choropleth-after-normalizing-over-state-population-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Choropleth after normalizing over state population</a></div><div class="lev2 toc-item"><a href="#Normalized-flight-counts-at-different-month?" data-toc-modified-id="Normalized-flight-counts-at-different-month?-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Normalized flight-counts at different month?</a></div><div class="lev1 toc-item"><a href="#Flight-counts-by-airport" data-toc-modified-id="Flight-counts-by-airport-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Flight-counts by airport</a></div>

In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn.apionly as sns
import plotly
import plotly.plotly as py
import calendar

from datetime import datetime
from pprint import pprint
from IPython.display import display

import cufflinks as cf
cf.set_config_file(theme='ggplot')

import util

# limit output to avoid cluttering screen
pd.options.display.max_rows = 20

In [3]:
# name of output files to prepend with
outfile = 'flight_count_analysis1_'

# Load data

Load the **airport data**, as well as the **lookup-table** I created [here](http://takwatanabe.me/airtraffic/create_lookup_table.html).

In [4]:
df_data = util.load_airport_data()
period = '11/1/2015 to 10/31/2016'

 ... load dataframe from 2015-11.zip
 ... load dataframe from 2015-12.zip
 ... load dataframe from 2016-01.zip
 ... load dataframe from 2016-02.zip
 ... load dataframe from 2016-03.zip
 ... load dataframe from 2016-04.zip
 ... load dataframe from 2016-05.zip
 ... load dataframe from 2016-06.zip
 ... load dataframe from 2016-07.zip
 ... load dataframe from 2016-08.zip
 ... load dataframe from 2016-09.zip
 ... load dataframe from 2016-10.zip

In [5]:
df_data.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID
0,2015,4,11,4,3,14570,13930
1,2015,4,11,5,4,13930,14057
2,2015,4,11,6,5,13930,14057
3,2015,4,11,7,6,13930,14057
4,2015,4,11,8,7,13930,14057

In [6]:
# make the "day_of_week" explicit
hash_dayofweek = {1:'Mon', 2:'Tue', 3:'Wed', 4:'Thu', 5:'Fri', 6:'Sat', 7:'Sun'}
df_data['DAY_OF_WEEK'] = df_data['DAY_OF_WEEK'].map(lambda key: hash_dayofweek[key])
df_data.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID
0,2015,4,11,4,Wed,14570,13930
1,2015,4,11,5,Thu,13930,14057
2,2015,4,11,6,Fri,13930,14057
3,2015,4,11,7,Sat,13930,14057
4,2015,4,11,8,Sun,13930,14057

In [7]:
df_lookup = pd.read_csv('df_lookup.csv') # lookup table for the AIRPORT_ID above
df_lookup.head()

,Code,Description,Airport,City,State,Region,lat,lon,City_State
0,10135,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",Lehigh Valley International,Allentown/Bethlehem/Easton,PA,Northeast,-75.430351,40.651821,Allentown/Bethlehem/Easton (PA)
1,10136,"Abilene, TX: Abilene Regional",Abilene Regional,Abilene,TX,South,-99.679370,32.407744,Abilene (TX)
2,10140,"Albuquerque, NM: Albuquerque International Sun...",Albuquerque International Sunport,Albuquerque,NM,West,-106.610967,35.037669,Albuquerque (NM)
3,10141,"Aberdeen, SD: Aberdeen Regional",Aberdeen Regional,Aberdeen,SD,Midwest,-123.136311,49.183921,Aberdeen (SD)
4,10146,"Albany, GA: Southwest Georgia Regional",Southwest Georgia Regional,Albany,GA,South,-84.194353,31.535452,Albany (GA)

In [8]:
# create hash-table to convert Airport "Code" to "City_State" 
# (combination of city/state is verified to be unique with the scope of this dataset)
hash_lookup = df_lookup.set_index('Code')['City_State'].to_dict()
pprint({k: hash_lookup[k] for k in hash_lookup.keys()[:10]})

# also create hash-table for airport names
hash_airport = df_lookup.set_index('Code')['Airport'].to_dict()
pprint({k: hash_airport[k] for k in hash_airport.keys()[:10]})

{10245: 'King Salmon (AK)',
 10754: 'Barrow (AK)',
 11267: 'Dayton (OH)',
 11274: 'Dubuque (IA)',
 11278: 'Washington (DC) [R.Reagan]',
 11778: 'Fort Smith (AR)',
 13230: 'Harrisburg (PA)',
 13830: 'Kahului (HI)',
 14696: 'South Bend (IN)',
 15412: 'Knoxville (TN)'}
{10245: 'King Salmon Airport',
 10754: 'Wiley Post/Will Rogers Memorial',
 11267: 'James M Cox/Dayton International',
 11274: 'Dubuque Regional',
 11278: 'Ronald Reagan Washington National',
 11778: 'Fort Smith Regional',
 13230: 'Harrisburg International',
 13830: 'Kahului Airport',
 14696: 'South Bend International',
 15412: 'McGhee Tyson'}

# Create Timeseries of Daily Flight Counts

- Here, I would like to analyze the trend in the **total daily flights** in the United States.

- To this end, we'll first construct a [Pandas TimeSeries](http://pandas.pydata.org/pandas-docs/stable/timeseries.html) DataFrame containing the daily Flight-count information.

In [9]:
# create a column containing "YEAR-MONTH-DAY"
df_data['time'] = ( df_data['YEAR'].astype(str) + '-' 
                  + df_data['MONTH'].astype(str) + '-' 
                  + df_data['DAY_OF_MONTH'].astype(str))

df_data.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,time
0,2015,4,11,4,Wed,14570,13930,2015-11-4
1,2015,4,11,5,Thu,13930,14057,2015-11-5
2,2015,4,11,6,Fri,13930,14057,2015-11-6
3,2015,4,11,7,Sat,13930,14057,2015-11-7
4,2015,4,11,8,Sun,13930,14057,2015-11-8

In [10]:
# create time-series of airtraffic counts
ts_flightcounts = pd.DataFrame(df_data['time'].value_counts()).rename(columns={'time':'counts'})
ts_flightcounts.index = ts_flightcounts.index.to_datetime()
ts_flightcounts.sort_index(inplace=True) # need to sort by date
ts_flightcounts.head(8)

            counts
2015-11-01   15652
2015-11-02   16596
2015-11-03   15918
2015-11-04   16363
2015-11-05   16619
2015-11-06   16600
2015-11-07   12793
2015-11-08   15679

In [11]:
# explicitly add extra date-info as dataframe columns (to apply `groupby` later)
ts_flightcounts['day']= ts_flightcounts.index.day
ts_flightcounts['month']= ts_flightcounts.index.month
ts_flightcounts['day_of_week'] = ts_flightcounts.index.dayofweek

ts_flightcounts.head()

            counts  day  month  day_of_week
2015-11-01   15652    1     11            6
2015-11-02   16596    2     11            0
2015-11-03   15918    3     11            1
2015-11-04   16363    4     11            2
2015-11-05   16619    5     11            3

In [12]:
# `dayofweek` uses encoding Monday=0 ... Sunday=6...make this explicit
ts_flightcounts['day_of_week'] = ts_flightcounts['day_of_week'].map({0:'Mon',
                                                                     1:'Tue',
                                                                     2:'Wed',
                                                                     3:'Thu',
                                                                     4:'Fri',
                                                                     5:'Sat',
                                                                     6:'Sun'}).astype(str)

ts_flightcounts.head()

            counts  day  month day_of_week
2015-11-01   15652    1     11         Sun
2015-11-02   16596    2     11         Mon
2015-11-03   15918    3     11         Tue
2015-11-04   16363    4     11         Wed
2015-11-05   16619    5     11         Thu

## Create interactive plot with plotly/cufflinks

- I am a huge fan of [plotly](http://plot.ly/python/)...brings the distance between the data and user closer together :)

In [13]:
# create hover_text object for plotly
hover_text= (
    ts_flightcounts['month'].astype(str) 
    +  '/' + ts_flightcounts['day'].astype(str)
    + ' (' + ts_flightcounts['day_of_week'] + ')'
).tolist()
print hover_text[:5]

['11/1 (Sun)', '11/2 (Mon)', '11/3 (Tue)', '11/4 (Wed)', '11/5 (Thu)']

In [14]:
# see https://plot.ly/pandas/line-charts/
plt_options = dict(text=hover_text,color='pink')
title = 'Daily Airflight Counts in the US between ' + period
title+= '<br>(hover over plot for dates; left-click to zoom)'

ts_flightcounts.iplot(y='counts',
                      filename=outfile+'plot_flightcounts',
                      title=title,
                      **plt_options)

- From the above time-series plot, we can see that the trend in the Flight-counts looks to be obscured by the effect from the ``day_of_week``
  
  - (a clear cyclical trend appears in the time-series above)

- By hovering over the above plot, we can observe that Saturday takes a *dip* downwards in flight-counts
  
  - (while this was somewhat expected, it's always nice to have the data reaffirm your intuition)

## Study seasonal trend with rolling-averaged timeseries

In [15]:
title = 'Daily Airflight Counts in the US between ' + period + ' with rolling-mean applied over 7day window'
ts_flightcounts['counts'].rolling(window=7).mean().iplot(filename=outfile+'rolling_mean',title=title)

- from the above plot, the summertime and end-of-the-year looks to have more flights (makes sense...vacation time)

# Flight counts study by "day_of_week" and "month"

- to gain further insights in the patterns among the flight-counts across ``day_of_week`` and ``month``, let's create some **count-charts** via bar-graphs

## Over entire year

In [16]:
# dow = dayofweek
flight_counts_dow = df_data['DAY_OF_WEEK'].value_counts().to_frame(name='flight-counts')
flight_counts_dow = flight_counts_dow.reindex(['Sun','Mon','Tue','Wed','Thu','Fri','Sat']) # reorder rows by day-of-week

flight_counts_month = df_data['MONTH'].value_counts().to_frame(name='flight-counts')
flight_counts_month = flight_counts_month.reindex(range(1,13))  # reorder by month
flight_counts_month.index = flight_counts_month.index.map(lambda num: calendar.month_abbr[num]) # replace number with string-of-month

display(flight_counts_dow.T)
display(flight_counts_month.T)

                  Sun     Mon     Tue     Wed     Thu     Fri     Sat
flight-counts  804731  850170  820609  829558  831454  834372  682079

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
flight-counts,445827,423889,479122,461630,479358,487637,502457,498347,454878,472626,467972,479230

In [17]:
title = 'Total US Flight-counts over "day_of_week" ({})'.format(period)
flight_counts_dow.iplot(kind='bar',title=title,filename=outfile+'bar_by_dow')

- from the above plot, we see that Saturday definitely takes a huge dip in flight-counts.

In [18]:
title = 'Total US Flight-counts over "day_of_week" ({})'.format(period)
flight_counts_month.iplot(kind='bar',title=title,filename=outfile+'bar_by_month')

- as we saw in the rolling-averaged timeseries plot, the above plot tells us that the summertime and end-of-the-year looks to have more flights (makes sense...vacation time)

## Apply pivoting to groupby month and day_of_week

In [19]:
df_counts_month = df_data.groupby(['MONTH','DAY_OF_WEEK',])['YEAR'].count().unstack()
df_counts_month = df_counts_month[['Sun','Mon','Tue','Wed','Thu','Fri','Sat']] # reorder columns
df_counts_month.index = df_counts_month.index.map(lambda num: calendar.month_abbr[num])
df_counts_month

DAY_OF_WEEK    Sun    Mon    Tue    Wed    Thu    Fri    Sat
Jan          70654  61028  58273  59036  61044  74138  61654
Feb          54748  76987  59617  60326  61945  62097  48169
Mar          61115  64094  77364  78285  80333  64145  53786
Apr          61020  64426  62860  63275  64454  80605  64990
May          73918  80141  79913  64065  65144  65187  50990
Jun          64372  67055  66239  82752  83913  67070  56236
Jul          78665  64712  67158  67429  67717  84935  71841
Aug          63469  83136  81291  82178  66676  66872  54725
Sep          58264  63402  61955  62463  80059  80204  48531
Oct          76328  79157  62309  63424  64635  64674  62099
Nov          79587  81315  64102  65775  59947  62624  54622
Dec          62591  64717  79528  80550  75587  61821  54436

In [20]:
title = 'Total US Flight-counts over "day_of_week" over each month ({})'.format(period)
df_counts_month.iplot(kind='bar',title=title,xTitle='Month',yTitle='Counts',filename=outfile+'bar2')

- the trend of Saturday having the smallest airflights holds generally true for each month
- intereting exceptions at **January** and **July**...perhaps this is a common vacation period (so businessday trend is eliminated)?
- for example, maybe there tends to be more family trips since children is on school vacation

# Repeat analysis for NY, LA, and Vegas.

- Now I'm curious to see what the trend looks like in major cities.

- Let's repeat the above analysis for NY, LA, and Las Vegas

## Data tidying

- First we'll "tidy" up our data so we have a data-structure that are amenable for plotting

In [21]:
cities = ['New York','Los Angeles','Las Vegas']

# get AIRPORT_ID codes corresponding to the above three cities
df_lookup[ df_lookup['City'].isin(cities) ]

,Code,Description,Airport,City,State,Region,lat,lon,City_State
173,12478,"New York, NY: John F. Kennedy International",John F. Kennedy International,New York,NY,Northeast,-73.779373,40.642948,New York (NY) [JFK]
181,12889,"Las Vegas, NV: McCarran International",McCarran International,Las Vegas,NV,West,-115.147846,36.086083,Las Vegas (NV)
183,12892,"Los Angeles, CA: Los Angeles International",Los Angeles International,Los Angeles,CA,West,-70.233979,-17.980837,Los Angeles (CA)
189,12953,"New York, NY: LaGuardia",LaGuardia,New York,NY,Northeast,-2.584756,42.553822,New York (NY) [Lag]

- Well, both Houston and NY have multiple major airport.

- For the sake of simplicity of our analysis, we'll pool the flight counts from these airports.

In [22]:
# dictionary keeping track of list of Airport code for each city
# (list-array used since there could be multiple airports in a city)
# city_codes = {'New York':[12478, 12953],
#               'Los Angeles' : [12892],
#               'Las Vegas' : [12889]}
city_codes = {}
for city in cities:
    city_codes[city] = df_lookup[ df_lookup['City']== city ]['Code'].tolist()
city_codes

{'Las Vegas': [12889], 'Los Angeles': [12892], 'New York': [12478, 12953]}

In [23]:
def filter_by_codelist(df_data,code_list):
    mask1 = df_data['ORIGIN_AIRPORT_ID'].isin(code_list)
    mask2 = df_data['DEST_AIRPORT_ID'].isin(code_list)
    return df_data[mask1 | mask2]

df_data_city = {city:[] for city in cities}

for city in cities:
    print city
    city_code = city_codes[city]
    df_data_city[city] = filter_by_codelist(df_data, city_code)
    
    # sanity check
    display(df_data_city[city].sample(3))

New York

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,time
480816,2016,3,7,26,Tue,12953,11259,2016-7-26
195650,2016,2,6,29,Wed,12953,10721,2016-6-29
105351,2016,1,1,26,Tue,14635,12478,2016-1-26

Los Angeles

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,time
334825,2015,4,12,19,Sat,12892,13930,2015-12-19
151843,2016,4,10,18,Tue,12889,12892,2016-10-18
368786,2016,3,8,4,Thu,11292,12892,2016-8-4

Las Vegas

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,time
157310,2016,1,2,14,Sun,12889,12478,2016-2-14
212151,2016,1,2,11,Thu,12889,15016,2016-2-11
268727,2015,4,12,7,Mon,12889,12892,2015-12-7

In [24]:
# dow = 'day of week'
flight_counts_by_dow = []
flight_counts_by_month = []
for city in cities:
    flight_counts_by_dow.append( df_data_city[city]['DAY_OF_WEEK'].value_counts())
    flight_counts_by_month.append(df_data_city[city]['MONTH'].value_counts())
    
flight_counts_by_dow   = pd.DataFrame(flight_counts_by_dow, index=cities)[['Sun','Mon','Tue','Wed','Thu','Fri','Sat']] # reorder columns
flight_counts_by_month = pd.DataFrame(flight_counts_by_month,index=cities).rename(columns = lambda num: calendar.month_abbr[num])
display(flight_counts_by_dow)
display(flight_counts_by_month)

               Sun    Mon    Tue    Wed    Thu    Fri    Sat
New York     54774  59836  57450  58018  58680  58437  43946
Los Angeles  60730  63463  60909  61503  62119  62430  51961
Las Vegas    43824  44222  42803  43217  43708  44043  39132

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
New York,32104,31092,33700,31911,32788,33710,34540,34666,31638,31519,31387,32086
Los Angeles,32833,30814,34609,33986,35385,38150,39835,39447,35055,35979,32922,34100
Las Vegas,24491,22844,25465,25045,25883,25586,26112,26075,25156,26312,23809,24171

- good, we now have the apppropriate data-structure to construct desired plots

## Plot results

In [25]:
title = 'Flight-counts across "day_of_week" during {}'.format(period)
flight_counts_by_dow.iplot(kind='bar',title=title,xTitle='City',yTitle='Counts',filename=outfile+'bar_dow_3cities')

- interesting to see flight-traffic in Las Vegas seems to be unaffected by ``day_of_week``...

- now I'm curious to see what the monthly trend looks like...

In [26]:
title = 'Flight-counts across "month" during {}'.format(period)
flight_counts_by_month.iplot(kind='bar',title=title,xTitle='City',yTitle='Counts',filename=outfile+'bar_month_3cities')

## Create sublots of monthly flight-count trends for each city

In [27]:
df_monthly_counts_by_city = {city:[] for city in cities}
for city in cities:
    df_monthly_counts_by_city[city] = df_data_city[city].groupby(['MONTH','DAY_OF_WEEK',])['YEAR'].count().unstack()[['Sun','Mon','Tue','Wed','Thu','Fri','Sat']]
    df_monthly_counts_by_city[city].index = df_monthly_counts_by_city[city].index.map(lambda num: calendar.month_abbr[num])

df_monthly_counts_by_city = pd.concat(df_monthly_counts_by_city)
print df_monthly_counts_by_city
# df_monthly_counts_by_city.loc['New York'] # access city by multi-indexing by "levels"

DAY_OF_WEEK     Sun   Mon   Tue   Wed   Thu   Fri   Sat
Las Vegas Jan  3940  3235  3169  3164  3283  4051  3649
          Feb  3062  4045  3115  3173  3273  3308  2868
          Mar  3313  3347  4029  4113  4245  3406  3012
          Apr  3374  3419  3335  3389  3452  4327  3749
          May  4097  4238  4225  3413  3470  3482  2958
          Jun  3468  3451  3420  4291  4342  3494  3120
          Jul  4220  3315  3408  3422  3472  4365  3910
          Aug  3422  4265  4200  4219  3441  3464  3064
          Sep  3309  3421  3382  3409  4338  4345  2952
          Oct  4342  4272  3403  3440  3505  3516  3834
...             ...   ...   ...   ...   ...   ...   ...
New York  Mar  4158  4591  5547  5625  5777  4572  3430
          Apr  4120  4536  4379  4445  4545  5643  4243
          May  4978  5559  5519  4406  4520  4478  3328
          Jun  4373  4698  4650  5776  5918  4707  3588
          Jul  5350  4556  4701  4740  4747  5911  4535
          Aug  4351  5862  5708  5795  4708  4712  3530
          Sep  4050  4486  4319  4338  5653  5667  3125
          Oct  5068  5407  4108  4198  4414  4419  3905
          Nov  5278  5569  4410  4483  4103  4144  3400
          Dec  4103  4367  5394  5424  5116  4172  3510

[36 rows x 7 columns]

- Good, we're ready to make subplots

- Some references 
  
  - http://takwatanabe.me/data_science/plotly_pandas/Cufflinks%20-%20Pandas%20Like%20Visualization.html#id21

  - http://takwatanabe.me/data_science/plotly_layout/plotly-layout-options-subplots.html
  
  - http://stackoverflow.com/questions/26939121/how-to-avoid-duplicate-legend-labels-in-plotly-or-pass-custom-legend-labels
  
  - http://takwatanabe.me/data_science/plotly_layout/plotly-layout-options-legend.html
  
- (self-remark) Maybe next time, **do not** try to make subplots with cufflinks...was a huge pain...

  - see http://takwatanabe.me/data_science/plotly_pandas/plotly-pandas-basic-charts.html#id2

In [28]:
figs = []
skip_legend = False
for city in cities:
    #print city
    #titles.append('Flight-counts over "day_of_week" over each month in {} <br>(during {})'.format(city,period))
    tmp_fig = df_monthly_counts_by_city.loc['New York'].iplot(kind='bar',asFigure=True)
    
    if skip_legend:
        for i in range(tmp_fig.data.__len__()):
            # have to access individual trace element to access this parameter...
            # (figuring this out took an atrocious amount of time....)
            tmp_fig.data[i]['showlegend'] = False
            
    figs.append(tmp_fig)
    skip_legend = True # <- to avoid duplicate legend (show legend for the first subplot only)
    
# convert list of figures to subplot object
subplots = cf.subplots(figs,shared_xaxes=True,subplot_titles=cities,shape=(3,1),vertical_spacing=0.05)
subplots.layout['height'] = 1000
subplots.layout['title']  = 'Monthly Flight-counts grouped over NY/LA/Vegas, "day_of_week" ({})'.format(period)
cf.iplot(subplots,filename=outfile+'bar_3cities_by_month')

# Which state had the most air traffics?

- Now let's conduct a similar analysis by grouping over states

- the code used below is nearly a carbon copy of the above (next-time, perhaps create a function to avoid repeating the same code)

## Data tidying

- Again, we start by "tidying" our data so we have a data-structure that are amenable for plotting

In [29]:
states = sorted(list(df_lookup['State'].unique()))
print states[:8]

state_codes = {}
for state in states:
    # get AIRPORT_ID codes corresponding to this state
    state_codes[state] = df_lookup[ df_lookup['State'] == state]['Code'].tolist()

# below for sanity check
print state
df_lookup[ df_lookup['Code'].isin(state_codes[state])]

['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC']
WY

,Code,Description,Airport,City,State,Region,lat,lon,City_State
75,11097,"Cody, WY: Yellowstone Regional",Yellowstone Regional,Cody,WY,West,-109.021853,44.520752,Cody (WY)
78,11122,"Casper, WY: Casper/Natrona County International",Casper/Natrona County International,Casper,WY,West,-106.313081,42.866632,Casper (WY)
125,11865,"Gillette, WY: Gillette Campbell County",Gillette Campbell County,Gillette,WY,West,-105.501876,44.290635,Gillette (WY)
170,12441,"Jackson, WY: Jackson Hole",Jackson Hole,Jackson,WY,West,-110.443625,43.684103,Jackson (WY)
180,12888,"Laramie, WY: Laramie Regional",Laramie Regional,Laramie,WY,West,-104.826514,41.163706,Laramie (WY)
271,14543,"Rock Springs, WY: Rock Springs Sweetwater County",Rock Springs Sweetwater County,Rock Springs,WY,West,-109.204787,41.586923,Rock Springs (WY)

In [30]:
df_data_states = {state:[] for state in states}
for state in states:
    df_data_states[state] = filter_by_codelist(df_data, state_codes[state])
    
# dow = 'day of week'
flight_counts_by_dow = []
flight_counts_by_month = []
for state in states:
    flight_counts_by_dow.append( df_data_states[state]['DAY_OF_WEEK'].value_counts())
    flight_counts_by_month.append(df_data_states[state]['MONTH'].value_counts())
    
flight_counts_by_dow   = pd.DataFrame(flight_counts_by_dow, index=states)[['Sun','Mon','Tue','Wed','Thu','Fri','Sat']] # reorder columns
flight_counts_by_month = pd.DataFrame(flight_counts_by_month,index=states).rename(columns = lambda num: calendar.month_abbr[num])
display(flight_counts_by_dow.head())
display(flight_counts_by_month.head())

         Sun       Mon       Tue       Wed       Thu       Fri       Sat
AK    7578.0    7775.0    7415.0    7350.0    7630.0    7677.0    7393.0
AL    7154.0    7917.0    7565.0    7674.0    7734.0    7766.0    5315.0
AR    4746.0    5465.0    5309.0    5369.0    5350.0    5337.0    3560.0
AZ   50097.0   51292.0   48255.0   50236.0   50543.0   50824.0   45005.0
CA  174652.0  183544.0  175707.0  177915.0  179338.0  180126.0  147463.0

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
AK,3757.0,3473.0,3769.0,3614.0,4532.0,5979.0,6403.0,6143.0,4127.0,3626.0,3600.0,3795.0
AL,3733.0,3665.0,4218.0,4160.0,4301.0,4217.0,4361.0,4401.0,4308.0,4478.0,4666.0,4617.0
AR,2426.0,2430.0,2707.0,2659.0,2920.0,2820.0,2834.0,2927.0,2740.0,2904.0,3898.0,3871.0
AZ,28703.0,27053.0,31670.0,29159.0,29590.0,29642.0,30367.0,28903.0,26002.0,28383.0,27579.0,29201.0
CA,94693.0,89079.0,100383.0,98335.0,103366.0,107574.0,111746.0,112351.0,101604.0,105013.0,95710.0,98891.0

In [31]:
# sanity check
assert np.all(flight_counts_by_month.sum(axis=1) == flight_counts_by_dow.sum(axis=1))
 
flight_counts = flight_counts_by_month.sum(axis=1).astype(int).to_frame(name='flight-counts')
flight_counts.T

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,TT,TX,UT,VA,VI,VT,WA,WI,WV,WY
flight-counts,52818,51125,35136,346252,1218745,479372,40194,226131,0,876232,...,976,1041128,218147,66199,12035,8150,283837,103489,5194,17507

- Cool, we're ready to plot

In [32]:
title = 'US airflight-counts across states " (during {})'.format(period)
flight_counts.sort_values('flight-counts',ascending=False).iplot(kind='bar',title=title,filename=outfile+'bar_by_state')

## Choropleth figure (display result on US map)

- Let's display the flight-count values we organized above into the US map

- This form of visualization is nice as it also provide geographical information 

- To see how this can be done in Plotly, visit https://plot.ly/python/choropleth-maps/

In [33]:
states = flight_counts.index
counts = flight_counts.values

In [34]:
# prepare Plotly "Data" and "Layout" object

# took this colorscale from: https://plot.ly/python/choropleth-maps/
colorscale = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
              [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

# define data object
data = dict(
        type='choropleth',
        autocolorscale = False,
        #Greys, YlGnBu, Greens, YlOrRd, Bluered, RdBu, Reds, Blues, Picnic, Rainbow, Portland, Jet, Hot, Blackbody, Earth, Electric, Viridis
        colorscale = colorscale,
        locations = states,
        z = counts,
        locationmode = 'USA-states',
        marker = dict(line = dict (color = 'rgb(0,0,0)',width = 2) ),
        colorbar = dict(title = "flight-counts")
)

# define layout object
geo = dict(scope='usa',
           projection=dict( type='albers usa' ),
           showlakes = True,
           lakecolor = 'rgb(255, 255, 255)'
          )

title = 'US airflight-counts across states (during {})'.format(period)
title+= '<br>(hover over to get count values)'
layout = dict(geo=geo,
              margin = dict(b=0,l=0,r=0,t=40),
              title = title)

fig = dict( data=[data], layout=layout )

# alright, ready for plotting!
py.iplot( fig , filename=outfile+'_choropleth')

In [35]:
# what about during January? 
data['z'] = flight_counts_by_month['Jan'].values
layout['title'] = 'US airflight-counts across states during Jan,2016'
py.iplot( fig , filename=outfile+'_choropleth_jan')

## Choropleth after normalizing over state population

In [36]:
# 2015 estimate of state population saved va script ``get_us_state_populations.py``
df_state_popu = pd.read_csv('df_state_populations.csv')
df_state_popu.head()

  state  population
0    CA    39250017
1    TX    27862596
2    FL    20612439
3    NY    19745289
4    IL    12801539

In [37]:
# create a dataframe by applying inner-join with our flight-count dataframe
flight_counts_popu = flight_counts.reset_index().rename(columns=dict(index='state')).merge(df_state_popu,on='state',how='inner')
flight_counts_popu.head()

  state  flight-counts  population
0    AK          52818      741894
1    AL          51125     4863300
2    AR          35136     2988248
3    AZ         346252     6931071
4    CA        1218745    39250017

In [38]:
# normalize by state population
flight_counts_popu['normalized_flight_counts'] = flight_counts_popu['flight-counts'].astype(float)/flight_counts_popu['population']
flight_counts_popu.sort_values('normalized_flight_counts',ascending=False).head()

   state  flight-counts  population  normalized_flight_counts
7     DC         226131      681170                  0.331974
33    NV         323313     2940058                  0.109968
11    HI         139771     1428557                  0.097841
5     CO         479372     5540545                  0.086521
10    GA         776731    10310371                  0.075335

In [39]:
# took this colorscale from: https://plot.ly/python/choropleth-maps/
colorscale = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
              [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

# define data object
data = dict(
        type='choropleth',
        autocolorscale = False,
        colorscale = colorscale,
        locations = flight_counts_popu['state'].tolist(),
        z = flight_counts_popu['normalized_flight_counts'].values,
        locationmode = 'USA-states',
        marker = dict(line = dict (color = 'rgb(0,0,0)',width = 2), zmax=0.1 ),
        colorbar = dict(title = "flight-counts"),
        # --- customize heatmap scale --- #
        zauto=False, # <- took me forever to figure this out....argh...plotly api definitely has room for improvements...
        zmax=0.1
)

layout['title'] = 'US Airflight-counts normalized over state population ({})'.format(period)

fig = dict( data=[data], layout=layout )
py.iplot( fig , validate=False)

## Normalized flight-counts at different month?

In [40]:
flight_counts_by_month2 = flight_counts_by_month.reset_index().rename(columns=dict(index='state')).merge(df_state_popu,on='state',how='inner')
flight_counts_by_month2.head()

,state,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,population
0,AK,3757.0,3473.0,3769.0,3614.0,4532.0,5979.0,6403.0,6143.0,4127.0,3626.0,3600.0,3795.0,741894
1,AL,3733.0,3665.0,4218.0,4160.0,4301.0,4217.0,4361.0,4401.0,4308.0,4478.0,4666.0,4617.0,4863300
2,AR,2426.0,2430.0,2707.0,2659.0,2920.0,2820.0,2834.0,2927.0,2740.0,2904.0,3898.0,3871.0,2988248
3,AZ,28703.0,27053.0,31670.0,29159.0,29590.0,29642.0,30367.0,28903.0,26002.0,28383.0,27579.0,29201.0,6931071
4,CA,94693.0,89079.0,100383.0,98335.0,103366.0,107574.0,111746.0,112351.0,101604.0,105013.0,95710.0,98891.0,39250017

In [41]:
month = 'Dec'
data['z'] = (flight_counts_by_month2[month]/flight_counts_by_month2['population']).values
data['zmax'] = np.nanmax(data['z'])/3
layout['title'] = '(Month={}) US Airflight-counts normalized over state population ({})'.format(month,period)

py.iplot( fig , validate=False)

In [42]:
month = 'Aug'
data['z'] = (flight_counts_by_month2[month]/flight_counts_by_month2['population']).values
data['zmax'] = np.nanmax(data['z'])/3
layout['title'] = '(Month={}) US Airflight-counts normalized over state population ({})'.format(month,period)

py.iplot( fig , validate=False)

# Flight-counts by airport

In [43]:
flight_counts

    flight-counts
AK          52818
AL          51125
AR          35136
AZ         346252
CA        1218745
CO         479372
CT          40194
DC         226131
DE              0
FL         876232
..            ...
TT            976
TX        1041128
UT         218147
VA          66199
VI          12035
VT           8150
WA         283837
WI         103489
WV           5194
WY          17507

[54 rows x 1 columns]